.nav_links {
    display: inline-flex;
    align-items: center;
    // width: 100%;
    font-weight: 200;
    gap: 1rem;
    min-height: 42px;
    font-size: 0.75rem;
    a {
        width: 2rem;
    }
    .active {
        color: #5af0bec7;
        font-weight: 400;
    }
}

.nav_header {

    &_wrapper {
        display: flex;
        align-items: center;
        width: auto;
        justify-content: space-between;
        margin: 0 1rem;
    }
    h4 {
        width: 56px;
        font-weight: 500;
        font-size: 0.7rem;
    }
    
    .cta {
        padding: 0.5em 0;
        border-radius: 4px;
        padding-left: 1em;
        width: 56px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-style: none;
        font-size: 0.5rem;
        letter-spacing: 0.04em;
        font-weight: 200;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.2em;
        background: #191919;
        position: relative;

        &::before {
            content: '';
            width: .7em;
            height: .7em;
            position: absolute;
            background: #31f5b4c2;
            right: 1em;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
}
    }
}

