@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #111;
  color: #EEE;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #555;
}

a:active, a:hover, a:focus {
  color: #31f5b4;
}

input, button {
  border-style: none;
  outline-style: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 0.2px solid #555;
}

button {
  cursor: pointer;
}

.nav_links {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  min-height: 42px;
}
.nav_links .active {
  color: #31f5b4;
}

.nav_header_wrapper {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;
  margin: 0 1rem;
}
.nav_header h4 {
  width: 56px;
}
.nav_header .cta {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-style: none;
}

.coin-image {
  height: 10px;
}
.coin-image img {
  width: 32px;
}

tbody td:not(:nth-last-child(1)) {
  padding-right: 1rem;
  font-weight: 700;
}

table {
  min-width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
table thead {
  padding-bottom: 2rem;
}
table th {
  text-align: left;
  font-size: x-large;
  padding: 2rem 0.5rem;
}
table td {
  font-weight: 200;
  padding: 0.5rem;
}

.form {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  position: sticky;
  background: #111;
  top: -1px;
  z-index: 100;
}
.form .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form .header .status {
  font-size: xx-small;
  font-weight: 200;
  color: #777;
}
.form .input {
  display: flex;
  align-items: center;
}
.form input {
  width: calc(100% - 64px);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 42px;
  padding: 0.5rem 1rem;
  position: relative;
  border-right: none;
}
.form button {
  width: 64px;
  min-height: 42px;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #888;
}

.crypto-home-title {
  margin: 1rem 0 1rem 0rem;
}

.crypto-button-container {
  min-height: 42px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  position: relative;
  max-width: 800px;
}
.crypto-button-container .sub-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  bottom: -50%;
  width: 70%;
  margin: 0 auto;
}
.crypto-button-container .sub-footer > p {
  font-size: small;
  color: #888;
  text-align: center;
  display: flex;
  margin: 0 auto 0 auto;
}
.crypto-button-container .sub-footer > span {
  font-size: smaller;
  color: #444;
  text-align: center;
  display: flex;
  margin: 0 auto 1rem auto;
}

.wrapper {
  background-color: #222;
  min-height: calc(42px * 1.5);
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.wrapper .crypto-button-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wrapper .crypto-button-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wrapper .crypto-button-left img {
  width: 32px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.wrapper .crypto-button-name {
  min-width: 120px;
}
.wrapper .crypto-button-name .crypto-symbol {
  font-size: x-small;
  font-weight: 200;
  color: #AAA;
}
.wrapper .crypto-button-price {
  min-width: 140px;
  min-height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.wrapper .crypto-button-price h4 {
  font-size: 0.85rem;
}
.wrapper .crypto-button-price .price-change {
  font-size: x-small;
  letter-spacing: 0.04em;
  font-weight: 200;
  width: 100%;
  text-align: right;
  padding-right: 10px;
}
.wrapper .crypto-button-price .red {
  color: #f730aa;
  position: relative;
}
.wrapper .crypto-button-price .red::before {
  content: "↘";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
}
.wrapper .crypto-button-price .green {
  color: #31f5b4;
  position: relative;
}
.wrapper .crypto-button-price .green::before {
  content: "↗";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
}

.arrow {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transform-origin: 50% 50%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.arrow p {
  line-height: 0.8rem;
  position: relative;
  top: -0.2rem;
}
.arrow.show {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.crypto-sub-button {
  background-color: #222;
  overflow: hidden;
  position: relative;
  top: -0.65rem;
  padding: 0rem 1rem;
  height: 0;
  opacity: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.crypto-sub-button .sub-top {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.crypto-sub-button .sub-top div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.crypto-sub-button .sub-top h4 {
  font-size: smaller;
  color: #CCC;
}
.crypto-sub-button .sub-top p {
  font-size: x-small;
  font-weight: 200;
  color: #3fcab8;
}
.crypto-sub-button .sub-bottom {
  display: flex;
  align-items: center;
}
.crypto-sub-button .sub-bottom button {
  font-size: small;
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.crypto-sub-button.show {
  height: 100px;
  opacity: 1;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}

.crypto-page {
  position: relative;
}

.coin-container-modal {
  background: #333;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 101;
  bottom: -50%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 1rem;
}
.coin-container-modal::before {
  content: "Test";
}
.coin-container-modal.up {
  bottom: -20%;
}
.coin-container-modal.down {
  bottom: -50%;
}
.coin-container-modal .modal-content {
  position: relative;
}
.coin-container-modal .modal-content .indicator {
  position: absolute;
  background: #666;
  height: 4px;
  width: 8rem;
  top: -1.1rem;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.coin-container-modal .modal-content .head {
  display: flex;
  gap: 1rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.coin-container-modal .modal-content .head .price div :nth-child(1) {
  color: #31f5b4;
}
.coin-container-modal .modal-content .head .price div :nth-child(2) {
  color: #AAA;
}
.coin-container-modal .modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
}
.coin-container-modal .modal-content img {
  height: 64px;
}
.coin-container-modal .modal-content .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  width: 98%;
  white-space: wrap;
  text-overflow: ellipsis;
  color: #888;
}
.coin-container-modal .modal-content .description a {
  color: #888;
  pointer-events: none;
}

.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}

.crypto-modal, .modal-backdrop {
  transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
  -moz-transition: 0.8s ease;
  -ms-transition: 0.8s ease;
  -o-transition: 0.8s ease;
}

.row-days {
  display: flex;
  align-items: center;
  margin: 0.1rem 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  gap: 0.2rem;
}
.row-days button {
  padding: 0.2rem 1.4rem;
  background: none;
  border-style: none;
}

/*# sourceMappingURL=index.css.map */
