@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #111;
  color: #EEE;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #555;
}

a:active, a:hover, a:focus {
  color: greenyellow;
}

input, button {
  border-style: none;
  outline-style: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 0.2px solid #555;
}

button {
  cursor: pointer;
}

.nav_links {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  min-height: 42px;
}

.nav_header_wrapper {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;
  margin: 0 1rem;
}
.nav_header h4 {
  width: 56px;
}
.nav_header .cta {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-style: none;
}

.coin-image {
  height: 10px;
}
.coin-image img {
  width: 32px;
}

tbody td:not(:nth-last-child(1)) {
  padding-right: 1rem;
  font-weight: 700;
}

table {
  min-width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
table thead {
  padding-bottom: 2rem;
}
table th {
  text-align: left;
  font-size: x-large;
  padding: 2rem 0.5rem;
}
table td {
  font-weight: 200;
  padding: 0.5rem;
}

.form {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
.form input {
  width: calc(100% - 64px);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 42px;
  padding: 0.5rem 1rem;
}
.form button {
  width: 64px;
  min-height: 42px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.crypto-home-title {
  margin: 1rem 0 1rem 1rem;
}

.crypto-button-container {
  min-height: 42px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  position: relative;
  max-width: 800px;
}

.wrapper {
  background-color: #222;
  min-height: calc(42px * 1.27);
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.wrapper .crypto-button-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wrapper .crypto-button-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wrapper .crypto-button-left img {
  width: 32px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.wrapper .crypto-button-name {
  min-width: 120px;
}
.wrapper .crypto-button-name .crypto-symbol {
  font-size: x-small;
  font-weight: 200;
  color: #AAA;
}
.wrapper .crypto-button-price {
  min-width: 120px;
  min-height: 32px;
  display: flex;
  justify-content: space-between;
}
.wrapper .crypto-button-price .price-change {
  font-size: x-small;
  letter-spacing: 0.04em;
  font-weight: 200;
}
.wrapper .crypto-button-price .red {
  color: #fa2a6f;
  position: relative;
  width: 50px;
}
.wrapper .crypto-button-price .red::before {
  content: "↘";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
}
.wrapper .crypto-button-price .green {
  color: #7df387;
  position: relative;
  width: 50px;
}
.wrapper .crypto-button-price .green::before {
  content: "↗";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
}

/*# sourceMappingURL=index.css.map */
