@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #111;
  color: #EEE;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #555;
}

a:active, a:hover, a:focus {
  color: #31f5b4;
}

input, button {
  border-style: none;
  outline-style: none;
  background-color: rgba(170, 170, 170, 0.1);
  color: #CCC;
  border: 0.2px solid #555;
}

button {
  border-color: transparent;
  cursor: pointer;
}

.about a {
  color: #31f5b4;
}
.about h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0.2em;
  margin-bottom: 0.7em;
}
.about h2 span {
  font-weight: 200;
  letter-spacing: 0.04em;
  font-size: 0.8rem;
}
.about li {
  margin-left: 1rem;
}
.about p {
  color: #888;
  font-size: 0.83rem;
}
.about article {
  margin-bottom: 3em;
  margin-top: 2rem;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 200;
  gap: 0.6rem;
  min-height: 42px;
  font-size: 0.9rem;
}
.nav_links a {
  text-align: center;
  width: 2.7rem;
  transform-origin: center center;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}
.nav_links .active {
  flex-basis: 1;
  justify-self: center;
  color: #5af0bec7;
  font-weight: 400;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.nav_header {
  z-index: 99;
  max-width: 800px;
  margin: auto;
  padding: 0;
}
.nav_header .logo-beta {
  color: #777;
  display: flex;
  align-items: center;
  min-width: 56px;
  font-size: 0.7rem;
  letter-spacing: 0.04em;
}
.nav_header_wrapper {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;
  margin: 0 1rem;
  min-height: calc(42px * 1.5);
}
.nav_header h4 {
  width: 56px;
  font-weight: 400;
  font-size: 0.6rem;
}
.nav_header button {
  min-width: 56px;
  border-style: none;
  border-radius: 4px;
  background: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.nav_header .cta {
  padding: 0.5em 0;
  padding: 1em;
  font-size: 0.5rem;
  letter-spacing: 0.04em;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2em;
  background: #191919;
  position: relative;
}
.nav_header .cta::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  position: absolute;
  background: #31f5b4c2;
  right: 1em;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.nav_secondary {
  position: sticky;
  top: 0;
  background: #222;
}

.nav_header_wrapper h5 {
  display: flex;
  align-items: center;
  gap: 0.2em;
  letter-spacing: 0.02em;
}
.nav_header_wrapper h5 span {
  font-weight: 200;
  font-size: 0.75rem;
  color: #31f5be;
}

.nav_cancel_button {
  font-size: 1.2rem;
  font-weight: 200;
  color: #BBB;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.nav_cancel_button span {
  font-size: 0.6rem;
}

.coin-image {
  height: 10px;
}
.coin-image img {
  width: 32px;
}

.form {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  position: sticky;
  background: #111;
  top: -1px;
  z-index: 100;
}
.form .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form .header .status {
  font-size: xx-small;
  font-weight: 200;
  color: #777;
}
.form .input {
  display: flex;
  align-items: center;
}
.form input {
  width: calc(100% - 64px);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 42px;
  padding: 0.5rem 1rem;
  position: relative;
  border-right: none;
  color: #555;
  border-color: #222;
}
.form button {
  width: 64px;
  min-height: 42px;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #888;
  border-color: #282828;
  border-width: 0.2px;
}
.form .input:focus-within input, .form .input:focus-within button {
  color: #CCC;
  border-color: rgba(241, 241, 241, 0.2);
}

.crypto-home-title {
  margin: 1em 0;
}

.crypto-button-container {
  min-height: 42px;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  position: relative;
  max-width: 800px;
}
.crypto-button-container .sub-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  bottom: -50%;
  width: 70%;
  margin: 0 auto;
}
.crypto-button-container .sub-footer > p {
  font-size: small;
  color: #888;
  text-align: center;
  display: flex;
  margin: 0 auto 0 auto;
}
.crypto-button-container .sub-footer > span {
  font-size: smaller;
  color: #444;
  text-align: center;
  display: flex;
  margin: 0 auto 1rem auto;
}

.wrapper {
  background-color: #181818;
  min-height: calc(42px * 1.5);
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border: 0.04em solid;
  border-color: transparent;
}
.wrapper:hover {
  background-color: rgba(34, 34, 34, 0.7);
  border-color: #555;
}
.wrapper .crypto-button-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wrapper .crypto-button-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.wrapper .crypto-button-left img {
  width: 32px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.wrapper .crypto-button-name {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.wrapper .crypto-button-name .crypto-symbol {
  font-size: x-small;
  font-weight: 200;
  color: #AAA;
}
.wrapper .crypto-button-price {
  min-height: 32px;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.wrapper .crypto-button-price h4 {
  font-size: 0.85rem;
}
.wrapper .crypto-button-price .crypto-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.2em;
}
.wrapper .crypto-button-price .price-change {
  font-size: x-small;
  letter-spacing: 0.04em;
  font-weight: 200;
  width: max-content;
  text-align: right;
  padding: 0.2em 0.5em;
  padding-right: 1.5em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.wrapper .crypto-button-price .red {
  color: #f80f68;
  position: relative;
  background-color: rgba(247, 48, 170, 0.04);
}
.wrapper .crypto-button-price .red::before {
  content: "↘";
  width: 10px;
  height: 10px;
  position: absolute;
  padding-right: 0.5em;
  right: 0;
}
.wrapper .crypto-button-price .green {
  color: #31f5b4;
  background-color: rgba(48, 247, 214, 0.05);
  position: relative;
}
.wrapper .crypto-button-price .green::before {
  content: "↗";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
}

.arrow {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transform-origin: 50% 50%;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.arrow p {
  line-height: 0.8rem;
  position: relative;
  top: -0.2rem;
}
.arrow.show {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.crypto-sub-button {
  background-color: #222;
  overflow: hidden;
  position: relative;
  top: -0.65rem;
  padding: 0rem 1rem;
  height: 0;
  opacity: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.crypto-sub-button .sub-top {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.crypto-sub-button .sub-top div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.crypto-sub-button .sub-top h4 {
  font-size: smaller;
  color: #CCC;
}
.crypto-sub-button .sub-top p {
  font-size: x-small;
  font-weight: 200;
  color: #3fcab8;
}
.crypto-sub-button .sub-bottom {
  display: flex;
  align-items: center;
}
.crypto-sub-button .sub-bottom button {
  font-size: small;
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.crypto-sub-button.show {
  height: 100px;
  opacity: 1;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}

.crypto-page {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.coin-container-modal {
  background: #222;
  position: fixed;
  width: 100%;
  height: 420px;
  z-index: 101;
  bottom: 0%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
@media screen and (min-width: 800px) {
  .coin-container-modal {
    max-width: 80%;
    left: 10%;
  }
}
.coin-container-modal:before {
  content: "";
  position: absolute;
  bottom: -190%;
  height: 200%;
  width: 100%;
  left: 1em;
  transform: translateX(-1rem);
  background: inherit;
  -webkit-transform: translateX(-1rem);
  -moz-transform: translateX(-1rem);
  -ms-transform: translateX(-1rem);
  -o-transform: translateX(-1rem);
}
.coin-container-modal .modal-content {
  position: relative;
  height: 85%;
  margin: 0 0em;
  margin-top: 1em;
}
.coin-container-modal .modal-content .indicator {
  position: absolute;
  background: transparent;
  height: 3px;
  width: 8rem;
  top: -1.7rem;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.coin-container-modal .modal-content .close-button {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 0.5rem;
  right: 1em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}
.coin-container-modal .modal-content .close-button:hover, .coin-container-modal .modal-content .close-button:focus {
  color: #31f5b4;
  border-color: #31f5b4;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.coin-container-modal .modal-content .head {
  display: flex;
  gap: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.coin-container-modal .modal-content .head .price div :nth-child(2) {
  font-size: medium;
  max-width: fit-content;
  padding: 0.1em 0.4em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.coin-container-modal .modal-content .head .price div :nth-child(1) {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.2em;
}
.coin-container-modal .modal-content .head .price div .red {
  color: #f80f68;
  position: relative;
  background-color: rgba(247, 48, 170, 0.07);
}
.coin-container-modal .modal-content .head .price div .green {
  color: #31f5b4;
  background-color: rgba(48, 247, 214, 0.07);
  position: relative;
}
.coin-container-modal .modal-content h2 {
  color: #AAA;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.1rem;
}
.coin-container-modal .modal-content img {
  height: 80px;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
.coin-container-modal .modal-content .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: wrap;
  text-overflow: ellipsis;
  width: 98%;
  color: #888;
}
.coin-container-modal .modal-content .description a {
  color: #888;
  pointer-events: none;
}

.modal-expand-button {
  position: absolute;
  background-color: rgba(51, 51, 51, 0.2);
  border: 0.1px solid;
  border-color: rgba(102, 102, 102, 0.4);
  bottom: 2%;
  padding: 0.6rem 0;
  margin: 0 1em;
  width: calc(100% - 2em);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
}
.modal-expand-button:hover, .modal-expand-button:focus {
  background-color: #333333;
  color: #31f5b4;
  border-color: rgba(49, 245, 180, 0.4);
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}

.crypto-modal, .modal-backdrop {
  transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
  -moz-transition: 0.8s ease;
  -ms-transition: 0.8s ease;
  -o-transition: 0.8s ease;
}

.row-days {
  display: flex;
  align-items: center;
  margin: 0.3em 1em;
  margin-bottom: 1rem;
  justify-content: center;
  gap: 0.2rem;
}
.row-days button {
  padding: 0.2rem 1.2rem;
  letter-spacing: 0.04em;
  font-weight: 200;
  color: #888;
  background: none;
  border-style: none;
  transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -ms-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.row-days button.active {
  background-color: #282828;
  color: #31f5b4;
  font-weight: 800;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.row-days button.active:focus, .row-days button.active:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.trends-title {
  max-width: 800px;
  padding-left: 1rem;
  margin: 1rem auto 2rem auto;
}

.trends-list {
  position: relative;
  display: flex;
  gap: 1rem;
  height: 120px;
  margin: 1rem auto;
  max-width: calc(800px);
  overflow-x: hidden;
}
.trends-list::before, .trends-list::after {
  content: "";
  width: 2rem;
  height: 100%;
  background: linear-gradient(to right, #111, #111, rgba(0, 0, 0, 0));
  position: absolute;
  z-index: 50;
}
.trends-list::after {
  right: -1%;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.trends-list img {
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
.trends-list h4 {
  color: #31f5b4;
  font-weight: 400;
}
.trends-list p {
  color: #777;
  font-size: 0.7rem;
}
.trends-list .trends-row {
  display: flex;
  gap: 1rem;
  padding: 0.2rem 0;
  padding-left: 1.5rem;
}
.trends-list .trends-row div {
  background: #222;
  padding: 1rem 1rem;
  min-width: 140px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 1px 0px 0px #111;
  border: #555 0.5px solid;
}

article {
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
article:nth-child(3) {
  gap: 2rem;
}

img[alt=sample-assets] {
  width: calc(100% );
}

.about {
  background-color: #111;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: grayscale(0.7) blur(20px);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 0.4em 0.8em;
  z-index: 10;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.tooltip h4 {
  font-size: 1rem;
  margin-bottom: 0.1em;
  color: #BBB;
}
.tooltip p {
  font-size: smaller;
  color: #31f5b4;
}

.home-container {
  margin: 0 auto;
  width: 100%;
}
.home-container .head {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 1em;
}
.home-container .head h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4em;
  margin: 0 0.5em;
}
.home-container .head span {
  font-size: 0.7rem;
  font-weight: 200;
  color: #777;
}
.home-container .home-content {
  display: flex;
  justify-content: center;
  padding: 0 1em;
  margin: auto;
  max-width: 800px;
  min-height: 3em;
  flex-wrap: wrap;
  gap: 1em;
}
@supports (display: grid) {
  .home-container .home-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 800px));
    grid-gap: 1em;
  }
}

.data-home {
  width: 100%;
  background-color: #171717;
  padding: 2em 1em;
  padding-top: 1em;
  border-radius: 8px;
  border: 0.5px solid;
  border-color: rgba(85, 85, 85, 0.2);
  display: flex;
  gap: 1em;
  align-self: flex-start;
  flex-direction: column;
  vertical-align: middle;
  transition: 0.2s linear;
}
.data-home img {
  width: 100%;
  object-fit: cover;
}
.data-home .date {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.data-home .date h5 {
  color: #31f5b4;
  letter-spacing: 0.04em;
}
.data-home .date span {
  color: #777;
  font-size: 0.8rem;
}
.data-home .image-wrapper {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  max-width: 100%;
  object-fit: cover;
  min-height: 3em;
  overflow: hidden;
}
.data-home h3 {
  color: #DDD;
}
.data-home p {
  color: #888;
}
.data-home:hover, .data-home:focus {
  transform: scale(0.98);
  background-color: #252525;
  border-color: rgba(85, 85, 85, 0.8);
}
.data-home:hover img, .data-home:focus img {
  transform: scale(1.05);
  transition: 0.4s ease-in;
}

@media screen and (min-width: 800px) {
  .data-home {
    min-width: 100%;
  }
}
.coin-container {
  padding: 2rem 1rem;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  background: #222;
}
.coin-container .coin-description {
  color: #888;
  margin-top: 0.5rem;
}
.coin-container .coin-description a {
  color: #888;
  pointer-events: none;
}

.coin-overview {
  display: grid;
  margin: 0.5em 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.coin-overview .row {
  border: 0.2px solid;
  color: #AAA;
  border-color: rgba(119, 119, 119, 0.2);
  padding: 0.8em;
}
.coin-overview .row p {
  color: #777;
  font-size: 0.9rem;
  font-weight: 200;
  transform-origin: left top;
  transform: scale(0.8);
  letter-spacing: 0.04em;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.coin-overview .row p:nth-child(1) {
  margin-bottom: 0.5rem;
}
.coin-overview .row:not(:nth-child(1), :nth-child(2)) {
  border-top-color: transparent;
}
.coin-overview .row:nth-child(odd) {
  border-right-color: transparent;
}

.crypto-chart {
  width: 100%;
}
.crypto-chart-loader {
  min-height: 130px;
  display: grid;
  place-content: center;
  color: #888;
  font-weight: 200;
}

.coin-update {
  color: #666;
  font-size: 0.7rem;
  margin-top: 0.5em;
  letter-spacing: 0.04em;
}

.coin-data {
  margin-top: 1rem;
}

.coin-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.coin-price .price-change {
  font-size: 0.9rem;
  font-weight: 600;
  width: max-content;
  text-align: right;
  padding: 0.4em 0.8em;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.coin-price crypto-chart .red {
  color: #f80f68;
  position: relative;
  background-color: rgba(247, 48, 170, 0.07);
}
.coin-price .green {
  color: #31f5b4;
  background-color: rgba(48, 247, 214, 0.07);
  position: relative;
}

.modal-wrapper {
  background-color: transparent;
  position: fixed;
  width: calc(100%);
  bottom: 0;
  z-index: 102;
}
.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.8s ease-out;
}
.modal-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 0.2em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  z-index: 101;
  background-color: #252525;
}
.modal-container::before {
  content: "";
  cursor: grab;
  position: absolute;
  background-color: #AAA;
  height: 4px;
  width: 6em;
  left: 50%;
  top: 0.4em;
  border-radius: 4px;
  transform: translateX(-50%);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.modal-container::after {
  content: "";
  position: absolute;
  background-color: inherit;
  bottom: -200vh;
  height: 200vh;
  width: 100%;
  left: 0;
}
.modal-content {
  margin: 0em;
  margin-top: 1em;
  padding: 1em;
  z-index: 101;
  background-color: #222;
}
.modal-content .modal-footer {
  display: flex;
  width: 100%;
  gap: 1em;
  margin-top: 1em;
}
.modal-content .modal-footer button {
  width: 100%;
  padding: 1em 2em;
  border-radius: 4px;
  font-size: 0.85rem;
  letter-spacing: 0.04em;
}
.modal-content .modal-footer button a {
  color: #31f5b4;
}
.modal-content .modal-info {
  margin-bottom: 0.5em;
  color: #555;
  font-size: 1rem;
}
.modal-content .modal-subtitle {
  color: #AAA;
  font-size: 1.2rem;
}
.modal-content .modal-link {
  color: #888;
  font-weight: 300;
  font-size: 1.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: wrap;
  text-overflow: ellipsis;
}
.modal-content .modal-link .url {
  color: rgba(49, 245, 180, 0.8);
}

.not-found {
  min-height: calc(100vh - (42px * 1.5));
  display: grid;
  place-content: center;
  place-items: center;
  grid-gap: 1rem;
  margin-top: -3rem;
}
.not-found h2 span {
  font-weight: 200;
}
.not-found p {
  color: #666;
  font-size: 0.9rem;
}
.not-found a {
  color: #31f5b4;
}

/*# sourceMappingURL=index.css.map */
